<!doctype html>
<html>

  <!-- Head -->
  <head>
    <title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic,900italic" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/theme.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/custom.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/highlight.css">
  </head>

  <!-- Body -->
  <body>
    <div id="page" class="hfeed site">
      <div id="content" class="site-content">
